<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">
  <ul>
    <li>
      <h2>hello {{title}}</h2>

    </li>
    <!-- class binding -->
    <li>
      <h2 class="text-success">static class</h2>
    </li>
    <li>
      <h2 [class]=successClass>Dynamic class binding</h2>
    </li>
    <li>
      <h2 class="text-danger">Welcome to gigForce1</h2>
    </li>
    <li>
      <h2 [class]="messageclass">Welcome to gigForce3</h2>
    </li>
    <li>
      <h2 [class.text-special]=hasError>Dynamic class binding with condition from class variable</h2>
    </li>
    <!-- style binding -->
    <li>
      <h2 [style.color]="'brown'">basic brown color</h2>
    </li>
    <li>
      <h2 [style.color]="!hasError ? 'yellow': 'orange'">condition based color</h2>
    </li>

    <li>
      <h2 [style]="groupStyles">condition based on class</h2>
    </li>



  </ul>
  <!-- Event binding -->
  <div>
    <h2><button (click)=onClick($event)>send to console</button></h2>
    {{greet}}
  </div>

  <!-- Template reference variables -->
  <div>
    <input #myInput type="text">
    <button (click)="loggToconsole(myInput)">Log Message</button>
    {{loggedInput}}
  </div>

  <!-- ngIF statements -->

  <h1>ng If statements</h1>
  <!-- method1 -->
  <h2 *ngIf="value">Displaying based on boolean value</h2>
  <!-- method2 -->
  <div *ngIf="!value; else elseBlock">
    <h2>true value</h2>
  </div>
  <!-- <ng-template thenBlock>
    <h2>2nd Method true output</h2>
  </ng-template> -->
  <ng-template #elseBlock>
    <h2>2nd Method false output</h2>
  </ng-template>

  <!-- switch Case -->
  <div [ngSwitch]="colour">
    <div *ngSwitchCase="'Red'">
      <h2>Red colour</h2>
    </div>
    <div *ngSwitchCase="'Yellow'">
      <h2>Yellow colour</h2>
    </div>
    <div *ngSwitchCase="'Pink'">
      <h2>Pink colour</h2>
    </div>
    <div *ngSwitchDefault>
      <h2>Default Black colour</h2>
    </div>
  </div>

  <!-- For loops -->
  <h1>For Loops</h1>
  <div *ngFor="let a of arrays1; index as i">
    <h2>{{i}} {{a}}</h2>
  </div>
  <h1>service Loop</h1>
  <div *ngFor="let a of data.data; index as i">
    <div *ngIf="i<10">
      <h2>{{i}} {{a}}</h2>
    </div>

  </div>
  <!-- <app-test (childEvent)="receiveMessage($event)" [parentData]="name"></app-test> -->
  <h2>output message {{message}}</h2>

  <h1>{{15 | currency}}</h1>
  <h1>{{date | date:'shortTime'}}</h1>

  <nav>
      <a routerLink="/employees" routerLinkActive="active" ariaCurrentWhenActive="page">Employee List </a>
      <br>
      <a routerLink="/departments" routerLinkActive="active" ariaCurrentWhenActive="page">Department list</a>
  </nav>
  

</main>
<router-outlet></router-outlet>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

